.mainCont {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 13px;
    height: 90%;
    background-color: rgb(8, 8, 8);
    border-radius: 24px;
    align-items: center;
  }
  
  .greenCont {
    width: 100%;
    background-color: rgb(54, 204, 99);
    border-radius: 24px;
    height: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .formCont {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
  
  .formTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    margin: 0 0 30px 0;
    color: rgb(24, 24, 24);
  }
  .formTitle span {
    color: beige;
    margin: 0 5px;
  }
  .formLogo {
    height: 65px;
    width: 65px;
    margin: 0 0 0 10px;
  }
  
  .fillCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
  }
  .fillCont:hover {
    color: beige;
    transition: 0.5s;
    .inputDesign {
      background-color: beige;
      color: #333333;
      border: none;
      transition: 0.5s;
    }
  }
  
  .inputDesign {
    width: 60%;
    border-radius: 15px;
    border: none;
    background-color: rgb(39, 39, 39);
    height: 35px;
    color: beige;
    padding: 9px 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .inputDesign:focus {
    font-size: 15px;
    color: #333333;
    background-color: beige;
    outline: none;
    font-weight: 600;
    transition: 0.5s;
    .fillcont label {
      color: beige;
    }
  }
  
  .redStar {
    color: rgb(184, 67, 67);
  }
  
  .buttonContainer {
    margin-top: 20px;
  }
  
  .buttonContainer button {
    background-color: rgb(247, 217, 51);
    border: none;
    border-radius: 10px;
    padding: 5px 35px;
    margin: 0 23px 0 0;
    font-weight: 600;
    border: #333333 solid 1px;
    cursor: pointer;
    font-size: 15px;
    width: 130px;
  }
  .buttonContainer button:hover {
    background-color: #333333;
    color: beige;
    transition: 0.5s;
  }
  
  .buttonContainer a {
    font-size: 13px;
    text-decoration: underline;
    font-weight: 600;
    margin: 0 0 0 55px;
    color: #333333;
  }
  
  .blackCont {
    color: beige;
    width: 90%;
    display: flex;
    margin: 40px 0 0 0;
    border-top: #fafafa 1px solid;
    display: flex;
    flex-direction: column;
  }
  
  .blackSpan{
    background-color: beige;
    width: 20%;
    color: #333333;
    margin: 15px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 14px;
  }